<a href="https://colab.research.google.com/github/ram1014/colab_files/blob/main/Practica17_263165.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practica 17

Alumno: Ramon Humberto Delgado Andrade

Matrícula: 263165

Profesor: Vicente García Jiménez

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Mounted at /content/drive

##Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus

1. Imprime de la columna 'maritalstatus' los valores únicos.
1. Imprime la frecuencia de cada valor único
1. Cambia el valor 'Never-Married' a 'Single'
1. Imprime la frecuencia de cada valor único.

In [2]:
#load dataframe with data from nls97.csv
df = pd.read_csv("/content/drive/MyDrive/ClassFiles/nls97.csv")

#Ejercicio 01

print('\n--------------------------------------------------------------------------------------------------------\n')
print("Valores unicos para la columna 'maritalstatus':\n\n", df['maritalstatus'].unique())
print("\nContador de valores unicos para la columna 'maritalstatus'\n", df['maritalstatus'].value_counts(), "\nCantidad de valores nulos: ", df['maritalstatus'].isnull().sum())

df['maritalstatus'] = df['maritalstatus'].replace({'Never-married': 'Single'})

print("Contador de valores unicos para la columna 'maritalstatus'\n", df['maritalstatus'].value_counts(), "\nCantidad de valores nulos: ", df['maritalstatus'].isnull().sum())
print('\n--------------------------------------------------------------------------------------------------------\n')

--------------------------------------------------------------------------------------------------------

Valores unicos para la columna 'maritalstatus':

 ['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']

Contador de valores unicos para la columna 'maritalstatus'
 maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64
Cantidad de valores nulos:  2312
Contador de valores unicos para la columna 'maritalstatus'
 maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64
Cantidad de valores nulos:  2312

--------------------------------------------------------------------------------------------------------

##Ejercicio 02: Errores Tipográficos y Valores Inconsistentes: highestdegree.

1. Imprime de la columna 'highestdegrees' los valores únicos.
1. Imprime la frecuencia de cada valor único
1. Observa que cada valor categórico empieza con 0. Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número. Por ejemplo, si dice "2. High School", debería ser 'high school.
1. Los cambios se realizarán en la misma columna 'highestdegrees'.
1. Imprime los nuevos valores únicos.

In [4]:
#Ejercicio 02
print('\n--------------------------------------------------------------------------------------------------------\n')
print("Valores unicos para la columna 'highestdegree':\n\n", df['highestdegree'].unique())
print("\nContador de valores unicos para la columna 'highestdegree'\n", df['highestdegree'].value_counts(), "\nCantidad de valores nulos: ", df['highestdegree'].isnull().sum())
print('\n Cambiando los valores de la columna highestdegree a minuscula y removiendo parte numerica')
df['highestdegree'] = df['highestdegree'].str.lower().str.strip().replace({r'^\d.': ''}, regex = True)
print("\nContador de valores unicos para la columna 'highestdegree'\n", df['highestdegree'].value_counts(), "\nCantidad de valores nulos: ", df['highestdegree'].isnull().sum())
print('\n--------------------------------------------------------------------------------------------------------\n')

--------------------------------------------------------------------------------------------------------

Valores unicos para la columna 'highestdegree':

 [' high school' ' none' ' bachelors' ' associates' ' masters' ' ged'
 ' professional' ' phd' nan]

Contador de valores unicos para la columna 'highestdegree'
 highestdegree
high school     3667
bachelors       1673
ged             1146
none             953
associates       737
masters          603
professional     120
phd               54
Name: count, dtype: int64
Cantidad de valores nulos:  31

 Cambiando los valores de la columna highestdegree a minuscula y removiendo parte numerica

Contador de valores unicos para la columna 'highestdegree'
 highestdegree
high school     3667
bachelors       1673
ged             1146
none             953
associates       737
masters          603
professional     120
phd               54
Name: count, dtype: int64
Cantidad de valores nulos:  31

--------------------------------------------------------------------------------------------------------

##Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas

1. De la columna 'maritalstatus' une las categorías Widowed y 'Single' en una categoría más general llamada 'Single/No Partner'. Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.
1. Imprime los valores únicos de la nueva columna 'marital_grouped'.
1. Imprime la frecuencia de los valores únicos de la nueva columna 'marital_grouped'

In [5]:
print('\n--------------------------------------------------------------------------------------------------------\n')
print("\nContador de valores unicos para la columna 'maritalstatus'\n", df['maritalstatus'].value_counts(), "\nCantidad de valores nulos: ", df['maritalstatus'].isnull().sum())

print("\nCambiando valores 'Single'/'Widowed' a 'Single/No Partner'\n\n")
df['marital_grouped'] = df['maritalstatus'].replace({'Single': 'Single/No Partner', 'Widowed': 'Single/No Partner'})

print("Contador de valores unicos para la columna 'marital_grouped'\n", df['marital_grouped'].value_counts(), "\nCantidad de valores nulos: ", df['marital_grouped'].isnull().sum())

--------------------------------------------------------------------------------------------------------


Contador de valores unicos para la columna 'maritalstatus'
 maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64
Cantidad de valores nulos:  2312

Cambiando valores 'Single'/'Widowed' a 'Single/No Partner'


Contador de valores unicos para la columna 'marital_grouped'
 marital_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64
Cantidad de valores nulos:  2312

##Ejercicio 04: Tipos de Datos

1. Imprime el tipo de datos de la columna gender
1. Imprime la cantidad de bytes de dicha columna
1. Si la columna es de tipo object, modifica a category.
1. En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos

In [7]:
#Ejercicio 04
print('\n--------------------------------------------------------------------------------------------------------\n')

print("Imprimiendo tipo de dato para columna 'gender': ",df['gender'].dtypes)
print("Imprimiendo tamano en memoria para columna 'gender': ",df['gender'].memory_usage(deep=True)," bytes")
print("\n\nCambiando columna 'gender' de tipo object a tipo category\n")
df['gender'] = df['gender'].astype('category')

print("Imprimiendo tipo de dato para columna 'gender': ",df['gender'].dtypes)
print("Imprimiendo tamano en memoria para columna 'gender': ",df['gender'].memory_usage(deep=True)," bytes")
print(df['gender'])

--------------------------------------------------------------------------------------------------------

Imprimiendo tipo de dato para columna 'gender':  category
Imprimiendo tamano en memoria para columna 'gender':  9332  bytes


Cambiando columna 'gender' de tipo object a tipo category

Imprimiendo tipo de dato para columna 'gender':  category
Imprimiendo tamano en memoria para columna 'gender':  9332  bytes
0       Female
1         Male
2         Male
3         Male
4         Male
         ...
8979    Female
8980      Male
8981    Female
8982    Female
8983    Female
Name: gender, Length: 8984, dtype: category
Categories (2, object): ['Female', 'Male']