<a href="https://colab.research.google.com/github/ram1014/colab_files/blob/main/Practica18_263165.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practica 18

Alumno: Ramon Humberto Delgado Andrade

Matrícula: 263165

Profesor: Vicente García Jiméne

#Imports

In [3]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Carga de archivo
Instrucciones:

1. Descarga el archivo airdata.csv, proporcionado en esta tarea. También lo puedes encontrar en recursos.
1. Crea un notebook en colab y guarda el archivo csv  en tu drive.
1. Agrega secciones en el colab poniendo como título el nombre de cada ejercicio

#Ejercicio 01:Tipo de Datos Correcto

1. Carga el conjunto de datos airdata.csv y verifica que cada columna tenga el tipo de datos correcto
1. Si una columna de tipo temporal no está en el tipo de correcto realiza la conversión.
1. Usa dtypes para mostrar que cada columna, principalmente la que contiene datos temporales, está en el tipo de datos correcto
1. Imprime las primeras tres líneas

In [8]:
#load dataframe with data from nls97.csv
df = pd.read_csv("/content/drive/MyDrive/ClassFiles/Airdata.csv")
#Ejercicio 01:Tipo de Datos Correcto
text_dtypes = df.dtypes.to_string()
#highlight the DateTime column type to compare later after change of datatype
print(text_dtypes.replace("object", "object <-------"),'\n\n')
print(df.head())

#Use the to_datetime function embeded on pandas to convert column DateTime
df['DateTime']=pd.to_datetime(df['DateTime'])

#Show the change of datatype
print('\n\nMostrando cambio de datatype:\n')
text_dtypes = df.dtypes.to_string()
print(text_dtypes.replace("datetime64[ns]", "datetime64[ns] <-------"))
print(df.head(3))

DateTime           object <-------
Temperature       float64
Humidity            int64
Wind_Speed        float64
Wind_Direction    float64
NO2_Location_A    float64
NO2_Location_B    float64
NO2_Location_C    float64


        DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0  1/1/2020 0:00     2.180529        87    1.484318       75.963760
1  1/1/2020 1:00     1.490529        89    2.741678      113.198590
2  1/1/2020 2:00     1.690529        85    3.563818      135.000000
3  1/1/2020 3:00     1.430529        84    2.811690      129.805570
4  1/1/2020 4:00     0.840529        86    1.800000      126.869896

   NO2_Location_A  NO2_Location_B  NO2_Location_C
0           39.23           52.88           62.37
1           38.30           44.95           52.53
2             NaN           48.40           54.80
3           37.28           47.18           50.80
4           29.97           41.48           54.43


Mostrando cambio de datatype:

DateTime          datetime64[ns] <-------
Temperature              float64
Humidity                   int64
Wind_Speed               float64
Wind_Direction           float64
NO2_Location_A           float64
NO2_Location_B           float64
NO2_Location_C           float64
             DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0 2020-01-01 00:00:00     2.180529        87    1.484318        75.96376
1 2020-01-01 01:00:00     1.490529        89    2.741678       113.19859
2 2020-01-01 02:00:00     1.690529        85    3.563818       135.00000

   NO2_Location_A  NO2_Location_B  NO2_Location_C
0           39.23           52.88           62.37
1           38.30           44.95           52.53
2             NaN           48.40           54.80

#Ejercicio 02: Extraer componentes de fecha y tiempo

1. De la columna 'DateTime' extrae el año, mes, día y hora. Crea una nueva columna para cada componente que extraes
1. Imprime las primeras tres líneas del dataframe que ahora deberá tener 4 nuevas columnas.

In [12]:
#Ejercicio 02: Extraer componentes de fecha y tiempo
df['Year'] = df['DateTime'].dt.year
df['Month'] = df['DateTime'].dt.month
df['Day'] = df['DateTime'].dt.day
df['Hour'] = df['DateTime'].dt.hour

print('Despues de separar los datos de DateTime en Year, Month, Day, Hour')
print('Mostrar las nuevas columnas')
print(df[['DateTime','Year','Month','Day','Hour']].head(3))

Despues de separar los datos de DateTime en Year, Month, Day, Hour
Mostrar las nuevas columnas
             DateTime  Year  Month  Day  Hour
0 2020-01-01 00:00:00  2020      1    1     0
1 2020-01-01 01:00:00  2020      1    1     1
2 2020-01-01 02:00:00  2020      1    1     2

#Ejercicio 03: Aritmética - Suma de Intervalos (timedelta)

1. Suma 10 días, 7 horas y 15 minutos a cada elemento de la columna 'DateTime'. Guarda el resultado en una nueva columna y agrega al dataframe.
1. Imprime la columna 'DateTime' y la columna que resulta de sumar 10 días, 7 horas y 15 minutos.

In [11]:
#Ejercicio 03: Aritmética - Suma de Intervalos (timedelta)

print('usando timedelta sumar la cantidad de dias/horas/minutos indicados')
df['DateTimePlus']= df['DateTime'] + pd.Timedelta(days=10, hours=7,minutes=15)
print('Mostrar el resultado que se guardo en la nueva columna DateTimePlus')
print(df[['DateTime','DateTimePlus']].head(3))

usando timedelta sumar la cantidad de dias/horas/minutos indicados
Mostrar el resultado que se guardo en la nueva columna DateTimePlus
             DateTime        DateTimePlus
0 2020-01-01 00:00:00 2020-01-11 07:15:00
1 2020-01-01 01:00:00 2020-01-11 08:15:00
2 2020-01-01 02:00:00 2020-01-11 09:15:00

#Ejercicio 04: Timestamp

1.  Convierte la columna 'DateTime' la cual tiene un formato de fecha legible a a timestamp Unix. Guarda el resultado en una nueva columna
1.  Imprime las primeras tres filas de  la columna 'DateTime' y la columna que representa dicha fecha en timestamp Unix

In [13]:
#Ejercicio 04: Timestamp
#df['DateTime_Timestamp']= df['DateTime'].apply(lambda x: x.timestamp())
#usando conversion de dato a int64 y dividiento entre 10^9 obtenemos el timestamp
df['DateTime_Timestamp']= df['DateTime'].astype(np.int64)//10**9
print('Mostrar el timestamp que se guardo en la nueva columna DateTime_Timestamp')
print(df[['DateTime','DateTime_Timestamp']].head(3))

Mostrar el timestamp que se guardo en la nueva columna DateTime_Timestamp
             DateTime  DateTime_Timestamp
0 2020-01-01 00:00:00          1577836800
1 2020-01-01 01:00:00          1577840400
2 2020-01-01 02:00:00          1577844000

#Ejercicio 05: Filtrado de Fechas

1.     Utiliza la columna 'DateTime' y Filtra aquellas fechas que son mayores a 2020-11-01
1.     Imprime el resultado

In [14]:
#set the reference time to evaluate
ref_time = pd.to_datetime('2020-11-01 00:00:00')

df_filtered = df[df['DateTime'] > ref_time]

print(df_filtered)

                DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
7321 2020-11-01 01:00:00    13.620529        58    6.638072       130.60129
7322 2020-11-01 02:00:00    13.980529        40    6.618519       157.61987
7323 2020-11-01 03:00:00    13.010529        43    8.209263       164.74487
7324 2020-11-01 04:00:00    12.190529        51    7.568566       154.65382
7325 2020-11-01 05:00:00    12.510529        59    7.594208       148.57043
...                  ...          ...       ...         ...             ...
8779 2020-12-31 19:00:00     4.920528        72    4.553680       251.56506
8780 2020-12-31 20:00:00     4.990529        74    3.259939       186.34020
8781 2020-12-31 21:00:00     4.360529        84   10.587917       252.18112
8782 2020-12-31 22:00:00     3.820528        88    8.435069       219.80557
8783 2020-12-31 23:00:00     3.170529        89    6.792466       212.00539

      NO2_Location_A  NO2_Location_B  NO2_Location_C  Year  Month  Day  Hour  \
7321           17.50           23.88           44.07  2020     11    1     1
7322           13.38           18.92           35.80  2020     11    1     2
7323           11.95           13.95           30.15  2020     11    1     3
7324           10.10           14.35           31.45  2020     11    1     4
7325           10.30           14.42           32.55  2020     11    1     5
...              ...             ...             ...   ...    ...  ...   ...
8779           53.44           32.65           66.82  2020     12   31    19
8780           49.80           34.03           67.31  2020     12   31    20
8781           43.32           25.55           59.33  2020     12   31    21
8782           39.88           19.90           43.70  2020     12   31    22
8783           39.04           30.33           46.87  2020     12   31    23

            DateTimePlus  DateTime_Timestamp
7321 2020-11-11 08:15:00          1604192400
7322 2020-11-11 09:15:00          1604196000
7323 2020-11-11 10:15:00          1604199600
7324 2020-11-11 11:15:00          1604203200
7325 2020-11-11 12:15:00          1604206800
...                  ...                 ...
8779 2021-01-11 02:15:00          1609441200
8780 2021-01-11 03:15:00          1609444800
8781 2021-01-11 04:15:00          1609448400
8782 2021-01-11 05:15:00          1609452000
8783 2021-01-11 06:15:00          1609455600

[1463 rows x 14 columns]