<a href="https://colab.research.google.com/github/ram1014/colab_files/blob/main/Practica12_16_263165.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Instrucciones:

1. Descarga el archivo CSV, miaad-nyc-r-s.csv, proporcionado en esta tarea. También lo puedes encontrar en recursos.
2. Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
3. Agrega secciones en el colab poniendo como título el nombre de la práctica

#Práctica 12: Carga de Datos

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.

* Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
* Usa df.tail(3) para demostrar que no has cargado la última línea
* Imprime la cantidad de filas y columnas del dataframe

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Mounted at /content/drive

In [2]:
df = pd.read_csv("/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv", skipfooter=1, engine='python')

print(df.tail(3))

nrows = df.shape[0]
ncols = df.shape[1]

print(f'Data frame info:\nRows: {nrows}\nCols: {ncols}')

       Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84545        8411        5      WOODROW
84546        8412        5      WOODROW
84547        8413        5      WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                ADDRESS  \
84545   7351   60                                  B2       49 PITNEY AVENUE
84546   7100   28                                  K6  2730 ARTHUR KILL ROAD
84547   7105  679                                  P9      155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[3 rows x 22 columns]
Data frame info:
Rows: 84548
Cols: 22

#Práctica 13: Agregar una columna

* Imprime los nombres de la columnas del archivo
* Asegúrate que el nombre de la primera columna debería ser INDEX MIIAD. Si esto no es así, entonces agrega dicho nombre a la columna y vuelve a imprimir los nombres para mostrar el cambio realizado.

In [3]:
#first column does not have a name.
print('First column name is blank\n')
print(df.columns.tolist())

print('\n\nUpdating first column name to "INDEX MIIAD"\n')
df.rename(columns={'Unnamed: 0': 'INDEX MIIAD'}, inplace=True)
print(df.columns.tolist())

First column name is blank

['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']


Updating first column name to "INDEX MIIAD"

['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

#Práctica 14: Normalización de los nombres de la columna.

* Normaliza los nombres de ls columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guion bajo
* Imprime los nombres de las columnas para demostrar que has realizado la normalización.

In [4]:
print('\n\nNormalizing column names\n')
df.columns = df.columns.str.lower().str.replace(" ","_")
print(df.columns.tolist())

df.info()

Normalizing column names

['index_miiad', 'borough', 'neighborhood', 'building_class_category', 'tax_class_at_present', 'block', 'lot', 'ease-ment', 'building_class_at_present', 'address', 'apartment_number', 'zip_code', 'residential_units', 'commercial_units', 'total_units', 'land_square_feet', 'gross_square_feet', 'year_built', 'tax_class_at_time_of_sale', 'building_class_at_time_of_sale', 'sale_price', 'sale_date']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index_miiad                     84548 non-null  int64
 1   borough                         84548 non-null  int64
 2   neighborhood                    84548 non-null  object
 3   building_class_category         84548 non-null  object
 4   tax_class_at_present            84548 non-null  object
 5   block                           84548 non-null  int64
 6   lot                             84548 non-null  int64
 7   ease-ment                       84548 non-null  object
 8   building_class_at_present       84548 non-null  object
 9   address                         84548 non-null  object
 10  apartment_number                84548 non-null  object
 11  zip_code                        84548 non-null  int64
 12  residential_units               84548 non-null  int64
 13  commercial_units                84548 non-null  int64
 14  total_units                     84548 non-null  int64
 15  land_square_feet                84548 non-null  object
 16  gross_square_feet               84548 non-null  object
 17  year_built                      84548 non-null  int64
 18  tax_class_at_time_of_sale       84548 non-null  int64
 19  building_class_at_time_of_sale  84548 non-null  object
 20  sale_price                      84548 non-null  object
 21  sale_date                       84548 non-null  object
dtypes: int64(10), object(12)
memory usage: 14.2+ MB

#Práctica 15: Errores en los Tipos de Datos

* Imprime los tipos de datos de cada columna.
* Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
* Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

In [5]:
print("\n\nMaking sale_price, land_square_feet and gross_square_feet to be float type\n")
df['sale_price'] = df['sale_price'].replace(r"\s+-\s+", 0.0, regex=True).astype(float)
df['land_square_feet'] = df['land_square_feet'].replace(r"\s+-\s+", 0.0, regex=True).astype(float)
df['gross_square_feet'] = df['gross_square_feet'].replace(r"\s+-\s+", 0.0, regex=True).astype(float)

df.info()

Making sale_price, land_square_feet and gross_square_feet to be float type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index_miiad                     84548 non-null  int64
 1   borough                         84548 non-null  int64
 2   neighborhood                    84548 non-null  object
 3   building_class_category         84548 non-null  object
 4   tax_class_at_present            84548 non-null  object
 5   block                           84548 non-null  int64
 6   lot                             84548 non-null  int64
 7   ease-ment                       84548 non-null  object
 8   building_class_at_present       84548 non-null  object
 9   address                         84548 non-null  object
 10  apartment_number                84548 non-null  object
 11  zip_code                        84548 non-null  int64
 12  residential_units               84548 non-null  int64
 13  commercial_units                84548 non-null  int64
 14  total_units                     84548 non-null  int64
 15  land_square_feet                84548 non-null  float64
 16  gross_square_feet               84548 non-null  float64
 17  year_built                      84548 non-null  int64
 18  tax_class_at_time_of_sale       84548 non-null  int64
 19  building_class_at_time_of_sale  84548 non-null  object
 20  sale_price                      84548 non-null  float64
 21  sale_date                       84548 non-null  object
dtypes: float64(3), int64(10), object(9)
memory usage: 14.2+ MB

#Práctica 15:
Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario

In [6]:
data_dictionary = pd.DataFrame({"Column Name": df.columns,
                                  "Data type": [str(df[col].dtype) for col in df.columns]})

print(data_dictionary)

                       Column Name Data type
0                      index_miiad     int64
1                          borough     int64
2                     neighborhood    object
3          building_class_category    object
4             tax_class_at_present    object
5                            block     int64
6                              lot     int64
7                        ease-ment    object
8        building_class_at_present    object
9                          address    object
10                apartment_number    object
11                        zip_code     int64
12               residential_units     int64
13                commercial_units     int64
14                     total_units     int64
15                land_square_feet   float64
16               gross_square_feet   float64
17                      year_built     int64
18       tax_class_at_time_of_sale     int64
19  building_class_at_time_of_sale    object
20                      sale_price   float64
21                       sale_date    object